@using Havit.Distiller.Shared
@page "/responsesubmission"
@inherits DistillationResponseSubmissionModel

<h1>Response Submission</h1>

@if (ViewModel == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="form-group">
		<label for="responseSetKey">ResponseSet Key*</label>
		<input type="text" class="form-control" id="responseSetKey" placeholder="ResponseSet Key" value="@ResponseSetKey" onchange=@(args => OnResponseSetKeyChange(args)) />
		<small class="form-text text-muted">By entering a ResponseSet Key you can return to your previous response and change it.</small>
	</div>

	<br />
	<hr />

	<h2>Response Header</h2>
	<div class="form-group">
		<label for="submitter">Submitter</label>
		<input type="text" class="form-control" id="submitter" placeholder="Your identification (optional)" bind="@Header.Submitter" />
	</div>
	<div class="form-group">
		<label for="responseSetKey">Comments</label>
		<textarea class="form-control" id="comments" placeholder="Missing a value? Any other comments?" bind="@Header.Comments" rows="5" />
	</div>
	<button type="submit" class="btn btn-primary" onclick="@OnHeaderSubmitClick">Save Header</button>

	<hr />

	<h2>Response Items</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Response</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewModel.DistillationItems)
			{
				<tr>
					<td>@item.Text</td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class='@(GetVote(item.Id) == 0 ? "btn btn-primary" : "btn btn-light")' onclick=@(async () => await @Vote(item.Id, 0))>Nevybráno</button>
							<button type="button" class='@(GetVote(item.Id) == 1 ? "btn btn-primary" : "btn btn-light")' onclick=@(async () => await @Vote(item.Id, 1))>Zvoleno</button>
							<button type="button" class='@(GetVote(item.Id) == 2 ? "btn btn-primary" : "btn btn-light")' onclick=@(async () => await @Vote(item.Id, 2))>Zvoleno s důrazem</button>
						</div>
					</td>
				</tr>
			}
		</tbody>

		Votes: @ResponseItemsByDistillationItemId.Count / @ViewModel.DistillationItems.Count
	</table>
}